.card{
    width: 20rem;
    text-align: right;
}

.card-body{
    padding-top: 0;
    margin-top: 0;
}
.card-title{
    color: cornflowerblue;
    font-size: 1.5rem;
    margin: 0;
}

.sub-title{
    font-weight: bold;
}

.card-text{
    margin-bottom: 10px;
    width: 280px;
}

.data-icon{
    float: left;
}

.card-img-top{
    padding: 1rem 1rem 0 1rem;
}

.profile-body{
    background-color: rgb(241, 236, 236);
}