.InterviewDayTable-table {
    text-align: center;
    font-size: 1.4rem;
    color: #555;
    font-weight: 300;
}

.InterviewDayTable-table-head {
    color: #000;
    font-weight: 500;
}

.InterviewDayTable-noInterviewsDiv {
    text-align: center;
    background-color: #fafafa;
    border-radius: 2rem;
    display: block;
    padding: 2rem;
    box-shadow: 0.4rem 0.4rem 1rem rgba(0, 0, 0, 0.2);
}

.InterviewDayTable-noInterviewsSpan {
    transition: all 0.2s ease-in;
    color: #555;
    font-weight: 600;
    letter-spacing: 0.3rem;
}

.InterviewDayTable-noInterviewsSpan:hover {
    border-bottom: 0.2rem solid rgba(255, 0, 0, 0.6);
    color: #222;
}
