.interviewTime-stop{
    display: grid;
}

.stopt-time-title{
    height: 7px;
}

.stop-time{
    font-size: 2.5rem; 
    margin-right: 9px;  
}

.interviewTime{
    display: flex;
    font-size: 1rem;
    padding: 0rem 1rem 1rem 1rem;
}
