.DayPickerInput {
    text-align: center;
    float: right;
    width: 100%;

}

.DayPicker-Day--outside {
    color: #e5e5e5 !important;
}

.DayPickerInput input {
    text-align: center;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.DayPickerInput input:focus {

    border: solid 1px #2684FF;
    border-radius: 4px;
    box-shadow: 0 0 0 1px #2684FF;
    outline: none;
}

.DayPickerInput-OverlayWrapper {
    position: relative;
    top: 10px;
}